@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
    text-align:center;
}

.cont{
    display:inline-block;
    width:800px;
}

.title-cont{
    font-family: 'Noto Sans KR', sans-serif;
    font-size : 25px;
    font-weight : bold;
    border-bottom : 0.1px solid #c5c5c5;
    padding-bottom : 15px;
}

.question-list{
    text-align:left;
    padding : 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:18.5px;
}

input[type="text"]{
    display:inline-block;
    border : none;
    outline : none;
    border-bottom : 0.1px solid #c5c5c5;
    width:726px;
    padding:9px;
    font-size:16px;
    font-family: 'Noto Sans KR', sans-serif;

}
.question-cont{
}
.question-title{
    padding-bottom:14px;
}
.image-cont{
    text-align:center;
}
.option-list {
    padding-left : 9px;
}

.option-des{
    font-size:16px;
}

.submit-btn{
    display:inline-block;
    padding : 7px 30px;
    background-color : #1C7823;
    border-radius : 10px;
    color : white;
    font-family: 'Noto Sans KR', sans-serif;
    cursor : pointer;
}

