<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>설문 참여하기</title>
    <link rel="stylesheet" th:href="@{/css/survey/surveyList.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script th:src="@{/js/survey/surveyList.js}"></script>
</head>
<body>
    <th:block th:replace="/common/header :: headerFragment"/>
    <div>
        <div class="survey-list-cont">
                <div class="search-cont">
                    <input class="search-input" placeholder="검색어를 입력해주세요."/>
                    <div class="search-btn">
                        검색
                    </div>
                </div>
                <div th:each="survey : ${surveys}" class="survey-cont">
                    <div th:text="${survey.category}" class="survey-category" ></div>

                    <div th:text="${survey.title}" class="survey-title"></div>

                    <div th:text="${survey.format_age}" class="survey-age"></div>

                    <div th:text="${survey.format_gender}" class="survey-gender"></div>

                    <div th:text="${survey.format_time}" class="survey-session"></div>

                    <div th:text="${survey.participants}" class="survey-participants"></div>

                    <div class="survey-btn-cont">
                        <div th:attr="data-id=${survey.id},data-is-in-session=${survey.isInSession}, data-gender=${survey.gender}, data-start-age=${survey.startAge}, data-end-age=${survey.endAge}" class="survey-btn">
                            설문 참여하기
                        </div>
                    </div>
                </div>
        </div>

        <div class="page-cont">
            <div th:if="${pageRange[0]>10}" class="page-move-btn prev-btn">
            <
            </div>

            <div style="display:inline-block;" th:each="page : ${#numbers.sequence(pageRange[0],pageRange[1])}">

                <div th:text="${page}" th:attrappend="id=${page}-1" class="page-btn">
                </div>
            </div>

            <div th:if="${pageRange[2] > pageRange[1]}" class="page-move-btn next-btn">
                >
            </div>
        </div>
    </div>
</body>
</html>